# SELECT Statement
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

* **SELECT** is used to retrieve rows selected from one or more tables and can include UNION statements and subqueries.
<code>SELECT select_expr FROM table_ref WHERE where_condition;</code>
* Each select_expr indicate a column that you want to retrieve. There must be atleast one select_expr.
* table_ref indicates the table or tables from which to retrieve rows.
* The WHERE clause, if given indicates the condition or conditions that rows must satisfy to be selected.
* where_condition is an expression that evaluates to true for each row to be selected. The statement selects all rows if there is no WHERE clause.

**To list all the movies:**

<code>SELECT * FROM actors;</code>

**To list only particular columns:**

<code>SELECT first_name, gender FROM actors;</code>

* The output generated by executing above SELECT statement is called a **Result Set**.
* **Result Set:** a set of rows that form the result of a query along with column names and metadata.
* The amount of data retrieving is less in mentioning columns compared to all columns.

**The order of the columns of Result Set:**

<code>SELECT gender, first_name FROM actors;</code>
* The order of the columns in the SELECT statement need not be same as the order in columns. Where the order of the rows will be same everytime.

**Useful Resources:**
* https://dev.mysql.com/doc/refman/8.0/en/select.html
* https://www.guru99.com/select-statement.html
* https://www.mysqltutorial.org/mysql-select-statement-query-data.aspx