# DISTINCT
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

* When querying data froma table, you may get duplicate rows. In order to remove these duplicate rows, you use the DISTINCT clause in the SELECT statement.
<pre>
Syntax:
        SELECT DISTINCT select_list FROM table_name;
</pre>

**Examples:**

<code>SELECT * FROM movies_genres;</code>

<code>SELECT DISTINCT genre FROM movies_genres;</code>

<code>SELECT DISTINCT firstname, lastname FROM directors ORDER BY firstname;</code>

**Useful Resources:**
* https://dev.mysql.com/doc/refman/8.0/en/distinct-optimization.html
* https://www.mysqltutorial.org/mysql-distinct.aspx
* https://www.techonthenet.com/mysql/distinct.php