# WHERE Clause
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

* The WHERE clause allows you to specify a search condition for the rows returned by a query.
<pre>
Syntax:
        SELECT
            select_list
        FROM
            table_name
        WHERE
            search_condition;
</pre>

* The search_condition is a combination of one or more predicates using the logical operator AND, OR and NOT.
* In MySQL, a predicate is a boolean expression that evaluates to TRUE, FALSE or UNKNOWN.
* Any row from the table_name that causes the search_condition to evaluate to TRUE will be included in the final result set.
* Besides the SELECT statement, you can use the WHERE clause in UPDATE or DELETE statement to specify which rows to update or delete.

**Evaluation Order:**
<pre>
    FROM --> WHERE --> SELECT --> ORDER BY
</pre> 

**Examples:**

<code>SELECT * FROM movies WHERE rankscore > 7;</code>

<code>SELECT * FROM movies WHERE rankscore > 7 ORDER BY rankscore DESC LIMIT 20;</code>

* Conditions Output: TRUE, FALSE, NULL.
* Comparision Operators: =, <> or !=, <, <=, >, >=

<code>SELECT * FROM movies_genre WHERE genre='thriller';</code>

<code>SELECT * FROM movies_genre WHERE genre <> 'romance';</code>
    
* NULL => does not exist/ unknown/ missing
* '=' does not work with NULL. It will give you an empty result set.
    
<code>SELECT * FROM movies WHERE rankscore=NULL; (**DOES NOT WORK**)</code>

<code>SELECT * FROM movies WHERE rankscore IS NULL LIMIT 20;</code>
    
<code>SELECT name, year FROM movies WHERE rankscore IS NOT NULL LIMIT 20;</code>
    
    
* Amazon shopping website is the best example to understand this where clause.

**Useful Resources:**
* https://dev.mysql.com/doc/refman/8.0/en/where-optimization.html
* https://www.guru99.com/where-clause.html
* https://www.mysqltutorial.org/mysql-where/