# LOGICAL OPERATORS
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

* Logical Operators are : AND, OR, NOT, ALL, ANY, BETWEEN, EXISTS, IN, LIKE.

**Website Search Filters:**

<code>SELECT name, year, rankscore FROM movies WHERE rankscore > 7 AND year > 2005;</code>

<code>SELECT name, year, rankscore FROM movies WHERE NOT year <= 2005 LIMIT 20 </code>

<code>SELECT name, year, rankscore FROM movies WHERE rankscore > 7 OR year > 2005;</code>
    
**Inclusive Search:**

<code>SELECT name, year, rankscore FROM movies WHERE year BETWEEN 2000 AND 2005;</code>

Low value <= high value, otherwise you will get an empty result set.
                  
<code>SELECT name, year, rankscore FROM movies WHERE year BETWEEN 2005 AND 2000;</code>

Same as genre='action' OR genre='thriller'

<code>SELECT * FROM directors_genres WHERE genre IN ('action', 'thriller');</code>

**Pattern Match:**

% is used as a wildcard character to imply zero or more characters

<code>SELECT * FROM movies WHERE name LIKE 'Go%';</code>

Firstname ending with 'er'

<code>SELECT * FROM actors WHERE first_name LIKE '%er';</code>

Firstname contains 'fa'

<code>SELECT * FROM actors WHERE first_name LIKE '%fa%';</code>

'_' implies exacly one character

<code>SELECT * FROM movies name LIKE 'Av_tar';</code>

Ignoring particular match

<code>SELECT * FROM actors WHERE first_name LIKE 'R%' AND first_name NOT LIKE 'Ra%';</code>

**Note:** <pre>If you want to match % or \_ , we should use the backslash as the escape character '\\%' , '\\_'</pre>

**Useful Resources:**
* https://dev.mysql.com/doc/refman/8.0/en/logical-operators.html
* https://www.mysqltutorial.org/mysql-or/
* https://www.mysqltutorial.org/mysql-and/