# INNER JOIN
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

* The INNER JOIN matches each row in one table with every row in other tables and allows you to query rows that contain columns from both tables.

1. For each movie, print name and the genre.

<code>
    SELECT m.name, g.genre 
    FROM movies m 
    JOIN movies_genre g 
    ON m.id = g.movie_id 
    LIMIT 20;
</code>

**Natural Join:** a join where we have the same column names accross two tables.

T1 Columns: C1, C2

T2 Columns: C1, C3, C4

<code>SELECT * FROM T1 JOIN T2;</code>

<code>SELECT * FROM T1 JOIN T2 USING (C1);</code>

Resultset: C1, C2, C3, C4

**Use Resources:**
* https://dev.mysql.com/doc/refman/8.0/en/join.html
* https://www.guru99.com/joins.html
* https://www.mysqltutorial.org/mysql-join/