# SubQueries
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

* A subquery is a query that is contained inside another query. The inner select query is usually used to determine the results of the outer select query.
<pre>
Syntax:
      SELECT * FROM table_name1 WHERE (column1, column2,..) = (SELECT column1, column2,... FROM table_name2);
</pre>

-> First the inner query is executed.

-> Output of inner query is substituted in outer query.

-> On execution outer query gives following result.

1. List all actors in the movie Titanic.

<code>
    SELECT * 
    FROM actors
    WHERE id
    IN (
        SELECT actor_id
        FROM roles
        WHERE movie_id
        IN (
            SELECT id
            FROM movies
            WHERE name = 'Titanic'
        )
    );
</code>

* We can use IN, NOT IN, EXISTS, NOT EXISTS, ANY, ALL, Comparision Operators.

2. Get all movies whose rankscore is same as the maximum rankscore

<code>SELECT * FROM movies WHERE rankscore >= ALL(SELECT MAX(rankscore) FROM movies);</code>

### Correlated SubQuery

* A correlated subquery is a subquery that uses the data from the outer query. In other words, a correlated subquery depends on the outer query.
* A correlated subquery is evaluated once for each row in the outer query.
<pre>
Syntax:
        SELECT *
        FROM t1
        WHERE column1 = ANY (
            SELECT column1 FROM t2 WHERE t2.column2 = t1.column2
        )
</pre>

1. Find all the employees whose salary is above for their department.

<code>SELECT * FROM employee emp WHERE salary > (SELECT AVG(salary) FROM employees WHERE department = emp.department);</code>

**Useful Resources:**
* https://dev.mysql.com/doc/refman/8.0/en/subqueries.html
* https://dev.mysql.com/doc/refman/8.0/en/correlated-subqueries.html
* https://www.guru99.com/sub-queries.html
* https://www.mysqltutorial.org/mysql-subquery/