# INSERT
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

* The INSERT statement allows you to insert one or more rows into a table.
<pre>
Syntax:
            INSERT INTO table_name(c1, c2,...)
            VALUES(v1, v2,....);
</pre>

**Examples:**

1. One Row

<code>INSERT INTO movies(id, name, year, rankscore) VALUES (123456, 'Jersey', 2019, 8)</code>

2. Multiple Rows

<code>INSERT INTO movies(id, name, year, rankscore) VALUES (123457, 'Rangasthalam', 2018, 8), (123458, 'Pushpa', 2021, 8);</code>

3. Copying rows from another table

<code>INSERT INTO t1 SELECT * FROM t2 WHERE c1 IN (value1, value2,...)</code>

**Useful Resources:**
* https://dev.mysql.com/doc/refman/8.0/en/insert.html
* https://www.guru99.com/insert-into.html
* https://www.mysqltutorial.org/mysql-insert-statement.aspx
* https://www.mysqltutorial.org/mysql-insert-into-select/