# UPDATE
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

* This command is used to update or modify the value of a column in the table.

<pre>
Syntax:
        UPDATE table_name
        SET column_name1 = expr1, column_name2 = expr2,...
        [WHERE condition];
</pre>

**Example:**

<code>UPDATE movies SET rankscore = 7 WHERE id = 412322;</code>

**Useful Resources:**
* https://dev.mysql.com/doc/refman/8.0/en/update.html
* https://www.guru99.com/sql-update-query.html
* https://www.mysqltutorial.org/mysql-update-data.aspx