# DELETE
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

* This command is used to remove one or more rows from a table.

<pre>
Syntax:
        DELETE FROM table_name
        WHERE condition;
</pre>

**Examples:**

<code>DELETE FROM movies WHERE id = 123456</code>

* You can also remove all rows by using 'TRUNCATE TABLE table_name'. It is same as DELETE without a WHERE clause.

**Useful Resources:**
* https://dev.mysql.com/doc/refman/8.0/en/delete.html
* https://www.guru99.com/delete-and-update.html
* https://www.mysqltutorial.org/mysql-delete-statement.aspx