# ALTER
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

* ALTER command allows you to alter the structure of the database.
* There are 3 types of operations to perform ALTER. They are ADD, MODIFY, DROP.
<pre>
Syntax:
        ALTER TABLE table_name ADD/MODIFY/DROP column_name col_def;
</pre>

**Examples:**

<code>ALTER TABLE country ADD budget INT;</code>

<code>ALTER TABLE country MODIFY budget VARCHAR(10);</code>

<code>ALTER TABLE country DROP budget</code>

**Useful Resources:**
* https://dev.mysql.com/doc/refman/8.0/en/alter-table.html
* https://www.guru99.com/alter-drop-rename.html
* https://www.mysqltutorial.org/mysql-alter-table.aspx