# DROP
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

* DROP command removes tables and databases from RDBMS.
<pre>
Syntax:
        DROP object_type object_name;
</pre>

**Examples:**

<code>DROP TABLE country;</code>

<code>DROP TABLE IF EXISTS country;</code>

<code>DROP DATABASE imdb;</code>

**Useful Resources:**
* https://dev.mysql.com/doc/refman/8.0/en/drop-table.html
* https://dev.mysql.com/doc/refman/8.0/en/drop-database.html
* https://www.mysqltutorial.org/mysql-drop-table/
* https://www.techonthenet.com/mysql/tables/drop_table.php