# TRUNCATE
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

* This command is used to delete all rows from the table and free the space containing the table.
<pre>
Syntax:
        TRUNCATE TABLE table_name;
</pre>

**Examples:**

<code>TRUNCATE TABLE country;</code>

**Useful Resources:**
* https://dev.mysql.com/doc/refman/8.0/en/truncate-table.html
* https://www.mysqltutorial.org/mysql-truncate-table/